button, [role=button] {
  width: fit-content;
  text-wrap: nowrap;

  &:not(footer &) { padding-top: 2.5ex }

  color: white;
  background-color: var(--color-primary);
  border: var(--border);
  border-color: transparent;
  border-radius: var(--corner-round);

  &:focus-visible { outline: var(--border-outline) }
  cursor: pointer;

  &::before {
    position: relative;
    top: 0.5cap;
    margin-inline-end: 1ch;
  }
}

a[role=button] {
  display: block;
  text-decoration: none;
  &::before { content: var(--icon-external-link) }
}

footer button { padding-block: 1ex }

*:disabled, .disabled {
  pointer-events: none;
  cursor: text;
  &:not(.selected) { opacity: 50% }
}

.system-choose-btn::before { content: var(--icon-random) }

.quick-chips {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: var(--spacing-half);
}

[class*=picker] [class*=chip] { border-radius: 50vh }

.selected {
  color: revert;
  background-color: white;
  border: var(--border);
  border-color: var(--color-primary);
}
