:root {
  --color-notwhite: #f9f9f9;
  --color-grey-light: #f3f4f6;
  --color-grey: #5d5d5e;

  --color-orange: #ef7e35;
  --color-orange-dark: #d73711;
  --color-red: #ce2c31;
  --color-purple: #7831bc;
  --color-blue: #005fcc;

  --color-primary:  var(--color-orange);
  --color-tertiary: var(--color-purple);

  --color-error: var(--color-red);

  --color-input: #c9d4df;
  --color-primary-foreground: #e1ebf7;
  --color-bg: var(--color-notwhite);

  --color-border:  var(--color-input);
  --color-outline: var(--color-blue);

  --color-disabled: var(--color-grey-light);

  --color-link: var(--color-blue);
  --color-link-visited: var(--color-purple);

  --color-text-grey: #374151;

  --spacing: 1rem;
  --spacing-half: calc(var(--spacing) / 2);

  --border: 1px solid var(--color-border);
  --corner-round: 0.5rem;

  --border-outline: 2px solid var(--color-outline);
}
