figure {
  overflow-x: hidden;
  border: var(--border);
  border-radius: var(--corner-round);
  transition: border-color var(--time-quarter);
  cursor: pointer;

  &:not([aria-disabled=true], [aria-selected=true], [class*=preview] &):hover {
    border-color: var(--color-primary);
  }

  iframe { margin: 0 auto }
  img {
    width: 100%;
    height: 8rem;
    &, iframe {
      object-fit: contain;
      background-color: var(--color-grey-light);
    }
  }

  figcaption {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--spacing);

    code {
      padding-inline: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    background-color: white;
    cursor: text;

    button, [role=button] {
      padding: 0;
      padding-inline: 0.5ch;
      color: currentcolor;
      background: none;
      border: none;
    }
  }

  [role=toolbar] { white-space: nowrap }
}
