figure {
  overflow-x: hidden;
  border: var(--border);
  border-radius: var(--corner-round);
  transition: border-color var(--time-quarter);
  cursor: pointer;

  &:not(.disabled, [class*=preview]):hover { border-color: var(--color-primary) }

  img {
    width: 100%;
    height: 8rem;
    &, iframe {
      object-fit: contain;
      background-color: var(--color-grey-light);
    }
  }

  figcaption {
    display: flex;
    align-items: baseline;
    width: 100%;

    gap: 1ch;
    padding-inline: var(--spacing);
    padding-block: 1ex;

    text-align: center;
    text-box: trim-both ex alphabetic;
    text-overflow: ellipsis;

    background-color: white;
    cursor: text;

    button {
      padding-block: 1ex;
      color: currentcolor;
      background: none;
    }
  }
}
