body, nav, main, footer { display: flex }
body, main { flex-direction: column }

body {
  color: var(--color-text-grey);
  background-color: var(--color-bg);
}

main, footer {
  padding: var(--spacing);
  overflow-x: clip;
}

header {
  color: white;
  background-color: var(--color-primary);
  border-bottom: 0.25rem solid var(--color-bg);
  outline: 0.5rem solid var(--color-tertiary);
  z-index: 1;
}

main {
  flex: 1;
  overflow-y: auto;
}

main { gap: var(--spacing) }
nav, footer { gap: var(--spacing-half) }

header, button, [role=button], .message, figcaption {
  text-box: trim-both ex alphabetic;
  padding-inline: var(--spacing);
  padding-block: 2ex;
  &:not(header, footer &) { padding-top: 2.5ex }
}
header { padding-block: 3ex }

footer {
  background-color: white;
  border-top: var(--border);
}
