a {
  text-decoration: inherit;
  text-decoration-skip-ink: auto;
  color: var(--color-link);
  &:hover { text-decoration: underline }
  &:visited { color: var(--color-link-visited) }
  cursor: pointer;
}
