.message {
  max-width: 66%;
  white-space: pre-wrap;

  border-radius: var(--corner-round);
  --corner-from: 2px;

  &.received {
    align-self: flex-start;
    background-color: white;
    border: var(--border);
    border-bottom-left-radius: var(--corner-from);
  }

  &.sent {
    align-self: flex-end;
    color: white;
    background-color: var(--color-primary);
    border-bottom-right-radius: var(--corner-from);
  }

  &[class]::before     { margin-inline-end: 0.5ch }
  &.connect::before    { content: var(--icon-connection) }
  &.disconnect::before { content: var(--icon-disconnect) }
  &.error {
    text-transform: revert;
    color: var(--color-error);
    background-color: white;
    border: var(--border);
    border-color: var(--color-error);
    padding-block: var(--spacing);
    padding-top: 0.5rem;
    &::before { content: var(--icon-error) }
  }
}

/* System message */
h5 {
  align-self: center;
  padding-block: 0;
  color: var(--color-border);
  &::before {
    position: relative;
    top: 1.2ex;
  }
}
