.preview-card {
  align-self: flex-start;
  background-color: var(--color-grey-light);
  figcaption { gap: var(--spacing-half) }
}

.preview-card-btns {
  display: flex;
  gap: var(--spacing-half);
}
