.template-picker {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-half);
}

.template-cell-placeholder {
  display: flex;
  place-content: center;
  background-color: var(--color-grey-light);
}
