@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*
https://joshwcomeau.com/css/custom-css-reset#eight-avoid-text-overflows-9
https://joshwcomeau.com/css/custom-css-reset#nine-improve-line-wrapping-10
*/

html { text-size-adjust: none }
body {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;

  &, p { text-wrap: pretty }
  -webkit-font-smoothing: antialiased;
}

:is(h1, h2, h3, h4, h5, h6), p {
  overflow-wrap: break-word;
  text-wrap: balance;
}

h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

h5, label:not([class*=progress]) {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.message {
  white-space: pre-wrap;
  &:is(h1, h2, h3, h4), br ~ * { font-size: 1rem }
}

label, figcaption code { cursor: text }
figcaption code { font-style: italic }
label:not([class*=progress]) { font-weight: 700 }
